.AuthPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .Form {
        display: flex;
        flex-direction: column;
        width: 33%;
        min-width: 350px;
        max-width: 600px;
        min-height: 200px;
        padding: 1rem;
        justify-content: center;
        align-items: center;

        &-Header {
            display: flex;
            flex-direction: column;
            width: 100%;
            text-align: center;
        }

        form {
            width: 100%;
        }

        &-Body {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 0.5rem;
            width: 100%;
        }

        &-Footer {
            display: flex;
            justify-content: space-between;
            gap: 1rem;
            width: 100%;
        }
    }
}