.AppPageLayout {
  display: flex;
  gap: 1rem;
  height: 100%;
  max-height: 624px;
  max-width: 900px;
  margin: auto;

  &-NavBar {
    background-color: rgba(white, 0.9);
    border-radius: 0.5rem;
    font-size: small;
  }

  &-PageContent {
    border-radius: 0.5rem;
    flex: 1;
  }
}