.RootLayout {
    position: relative;
    width: 100vw;
    height: 100vh;

    &-Body {
        height: calc(100vh - 4rem);
        overflow: hidden;
        padding: 4rem calc(160px + 2rem) 0 calc(160px + 2rem);
    }

    &-LeftAside {
        position: fixed;
        height: 600px;
        width: 160px;
        left: 1rem;
        top: calc(50% - 300px);
    }

    &-RightAside {
        position: fixed;
        height: 600px;
        width: 160px;
        right: 1rem;
        top: calc(50% - 300px);
    }
}