.Chat {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    width: 256px;
    height: 100%;

    &-Messages {
        display: flex;
        flex-direction: column;
        gap: 6px;
        flex: 1;
        font-size: small;
    }

    &-Input {
        display: flex;
    }
}