.Chat {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;

    &-Messages {
        display: flex;
        flex-direction: column;
        gap: 6px;
        flex: 1;
        font-size: small;
    }

    &-Input {
        display: flex;
    }
}