.Chat {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 1px solid white;
    border-radius: 0.5rem;
    width: 256px;
    height: 100%;
    background-color: rgba(white, 0.2);
    padding: 0.5rem;

    &-Messages {
        display: flex;
        flex-direction: column;
        gap: 6px;
        flex: 1;
        font-size: small;
    }

    &-Input {
        display: flex;
    }
}