.GameUpdates {
    display: flex;
    gap: 0.5rem;
    text-wrap: nowrap;
    align-items: center;
    padding: 0.5rem;
    width: auto;

    >* {
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }
}