.GameUpdates {
    padding: 0.5rem;
    box-shadow: 0 3px 5px 3px rgba(black, 0.1);

    >* {
        display: flex;
        align-items: center;
        text-wrap: nowrap;
        justify-content: center;
    }
}