.ActionButton {
    display: flex !important;
    justify-content: space-between !important;

    .AdornmentContent {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}