.CardContainer {
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);
    transition: translate 250ms ease-in;
    transition: scale 250ms ease-in;
    border-radius: 5%;
    scale: 1;

    &.disabled {
        filter: brightness(75%);
    }

    &.interactive {
        cursor: pointer;

        &:hover {
            transition: translate 250ms ease-in;
            translate: 0% -10%;
        }
    }

    &.highlighted {
        .Card {
            box-shadow: 1px 0 3px 3px rgba(255, 215, 0, 0.5);
        }

        transition: translate 250ms ease-in;
        translate: 0% -15% !important;

        &:hover {
            transition: translate 250ms ease-in;
            translate: 0% -15% !important;
        }
    }

    .Card {
        display: flex;
        border-radius: 5%;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
    }

    .OverlayText {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        top: 25%;
        border-radius: 50%;
        color: white;
        font-size: 1.5rem;
        text-align: center;
        line-height: 1.8;
    }
}