.CardContainer {
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);
    transition: translate 250ms ease-in;
    translate: 0% 0% !important;
    scale: 1;

    &.unselectable {
        filter: grayscale(50%)
    }

    &.selectable {
        .Card {
            box-shadow: 1px 0 3px 3px rgba(255, 215, 0, 0.5);
            cursor: pointer;
        }

        &:hover {
            translate: -15% -15% !important;
            scale: 1.10;
        }
    }

    &.selected {
        .Card {
            box-shadow: 0 0 5px 5px rgba(255, 215, 0, 0.5);
            cursor: pointer;
        }

        translate: -15% -15% !important;
        scale: 1.10;

        :hover {
            scale: 1.15;

        }
    }

    .Card {
        display: flex;
        border-radius: 5%;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
    }

    .OverlayText {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        top: 25%;
        border-radius: 50%;
        color: white;
        font-size: 1.5rem;
        text-align: center;
        line-height: 1.8;
    }
}