.PageTopper {
    display: flex;
    align-items: center;
    gap: 1rem;

    &-Title {
        h3 {
            margin: 0;
            opacity: 0.8;
        }

        h4 {
            margin: 0;
            opacity: 0.8;
            text-align: right;
        }
    }
}