.HomePage {
    display: flex;
    flex-direction: column;

    &-Tiles {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 1rem;

        &-Tile {
            display: flex;
            flex-grow: 1;
            padding: 1rem;
            gap: 1rem;
            justify-self: stretch;
            align-self: stretch;

            &-Header {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: center;

                h1 {
                    margin: 0;
                }
            }

            &-Video {
                aspect-ratio: 16 / 9;
                width: 100%;
                min-width: 500px;


                @media screen and (max-width: 650px) {
                    min-width: 200px;
                }
            }
        }
    }

}