.RulesPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    height: 100%;
    overflow-y: auto;
    position: relative;

    &-Content {
        height: 100%;
        overflow-y: scroll;
        position: relative;
        padding: 2rem 1rem;
    }
}