.NameTag {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &-Name {
        display: flex;
        flex-direction: column;
        font-weight: bold;
        transition: all 0.2s ease-in-out;
        gap: 0.25rem;

        &-Badges {
            font-size: 14px;
            display: flex;
            gap: 0.25rem;
        }
    }
}