// Primary
$primary-color: #044885;
$primary-color-light: #366c9d;
$primary-color-dark: #02325d;
// Secondary
$secondary-color: #941111;
$secondary-color-light: #a94040;
$secondary-color-dark: #670b0b;
// Background
$background-color: #4b7c34;
$paper-color: #94bc81;
$paper-color-light: #A9C99A;
$paper-color-dark: #67835A;
// Highlight
$highlight-color: #f7db77;
$highlight-color-dark: #deb230;
// Text
$font-family: Courier, monospace;

#root {
  height: 100vh;
  width: 100vw;
}

:root {
  font-family: $font-family;
  font-weight: 400;
  color: white;
  background: $background-color;
  text-rendering: optimizeLegibility;
}

a {
  font-weight: 500;
  color: $highlight-color;
  text-decoration: inherit;
  text-shadow: 0 0 1px lightgray;
}

a:hover {
  color: $highlight-color-dark;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@keyframes ellipsis {
  25% {
    content: "   ";
  }

  50% {
    content: ".  ";
  }

  75% {
    content: ".. ";
  }

  100% {
    content: "...";
  }
}

/* Animated ellipsis for loading text */
span.loading-text:after {
  content: "...";
  overflow: hidden;
  white-space: nowrap;
  white-space-collapse: preserve;
  animation: ellipsis 1.5s infinite;
  animation-fill-mode: forwards;
}