.Collapsible {
    position: relative;
    overflow-y: scroll;
    height: 100%;
    width: 100%;

    &-Title {
        color: black;
        background-color: white;
        font-size: larger;
        font-weight: bold;
        text-align: center;
        padding: 1rem;
    }
}