.CollapsibleSection {
    &-Header {
        position: sticky !important;
        top: 0 !important;
        background-color: white !important;
        transition: box-shadow 0.25s !important;

        h3 {
            margin: 0;
        }

        .MuiAccordionSummary-content {
            gap: 1rem !important;
        }

        &.Mui-expanded {
            box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.2) !important;
        }
    }
}