.ScrollableSection {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    border: 1px solid white;
    border-radius: 8px;
    background-color: #74a65e !important;

    &-Header {
        display: flex;
        align-items: center;
        gap: 1rem;
        border-radius: 5px 5px 0 0;
        background-color: white;
        padding: 1rem;
        position: sticky;
        text-transform: uppercase;
        top: 0;

        >* {
            color: black;
        }
    }

    &-Body {
        overflow: hidden;
        padding: 0 1rem 1rem 1rem;

        font-size: large;

        h3 {
            font-size: 1.5rem;
            margin-top: 2rem;
            text-align: center;
            text-decoration: underline;
            text-underline-offset: 0.5rem;
            text-transform: uppercase;
        }

        h4 {
            font-size: larger;
            margin-bottom: 0;
            text-transform: uppercase;
        }

        b {
            text-transform: uppercase;
        }

        p {
            text-indent: 2rem;
        }

        li {
            margin-bottom: 0.5rem;
        }

        table {
            width: 100%;
            border-radius: 3px;
            background-color: white;
            color: black;
        }

        th,
        td {
            border: 1px solid grey;
            padding: 3px 0;
        }

        th {
            background-color: whitesmoke;
            font-weight: bold;
        }

        td {
            text-align: center;
        }

        .red {
            color: red;
        }

        .green {
            color: green;
        }

        .black {
            color: black;
        }

        .centered {
            width: 100%;
            text-align: center;
            text-indent: 0;
        }

        .Flare {
            font-size: 14px;
        }
    }
}