.ScrollableContainer {
    height: 100%;
    overflow-y: scroll;
    position: relative;
    border-radius: 5px;

    &-Header {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-top: 2rem;
    }
}