.Chat {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100%;
    overflow: hidden;

    &-Messages {
        display: flex;
        flex-direction: column;
        overflow: scroll;
        gap: 6px;
        flex: 1;
        font-size: small;
        max-height: 192px;

        .EmptyMessage {
            text-align: center;
            width: 100%;
        }
    }

    &-Input {
        >* {
            padding: 0.5rem !important;
        }
    }
}